<style>

    @font-face {
        font-family: 'Fredoka';
        src: url('/fonts/Fredoka-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Fredoka';
        src: url('/fonts/Fredoka-SemiBold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'SetoFont';
        src: url('/fonts/XiaolaiSC-Regular.ttf') format('truetype');
        font-style: normal;
    }
</style>